/* src/components/Slider.css */
.slider-container {
  position: relative;
  width: 121%; /* Full width of the website */
  height: 795px; /* Fixed height for the entire slider container */
  overflow: hidden;
  
}

.slider-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45%; /* Use 45% of the container's height */
}

.slider-image {
  width: 100%; /* Image fills the width of the container */
  height: 100%; /* Image scales to fill 45% of the container's height */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
  border-radius: 0px 0px 20px 20px; /* Optional: rounded corners for a smoother look */

}
