.formal-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  position: relative;
}

.formal-outfit-card {
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.formal-outfit-card:hover {
  transform: translateY(-5px);
}

.formal-outfit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.formal-outfit-title {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.description-dialogue {
  position: absolute;
  bottom: 50px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 220px;
  font-size: 0.9em;
  text-align: left;
  z-index: 10;
}

.p2 {
  text-align: left;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.5);
  padding: 100px;
  color: white;
  background-image: url('./assets/sports.jpg');
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 20px;
}
