.wrapper{
    width: 420px;
    color: antiquewhite;
    position: relative;
    right:100px;
    bottom: 20px;
}
 .wrapper h1{
    font-size: 36px;
    text-align: center;
 }

.wrapper .box{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0;
    
}

.box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    position: relative;
    bottom: 20px;
    color: white;
    
    
}
.ed{
    position: relative;
    top: 10px;
    border-color: azure;
}
.login{
    position: relative;
    left: 100px;
}
.head{
    position: relative;
    bottom: 50px;
}
.Signin .but{
    position: relative;
    height: 25px;
    width: 80px;
    left: 175px;
    bottom: -15px;
    border-radius: 20px;
    background-color: azure;
    cursor: pointer;
}
.Signin .tt{
    position: relative;
    left: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.Signin .but:hover{
background-color: rgb(221, 218, 218);
}
.icon{
    position: relative;
    left: 430px;
    bottom: 45px;
}
.fp{
    position: relative;
    top: -50px;
    left: 1px;

}
.su{
    position: relative;
    left: 120px;
    top: 10px;
}
.reg{
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.logo img {
    width: 100px; /* Set desired width */
    height: auto; /* Maintain aspect ratio */
  }