body {
    margin: 0;
    font-family: "Abril Fatface", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column; /* Align components vertically */
    justify-content: flex-start; /* Start from the top */
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    
    overflow-y: auto;
  }